<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="drink">
      <ion-icon name="cafe-outline"></ion-icon>
      <ion-label> เครื่องดื่ม
      </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="redeem">
      <ion-icon name="bag-outline"></ion-icon>
      <ion-label> แลก </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" (click)="goProfile()">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label> โปรไฟล์ </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
