<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;color:#fff; background-color: #2B5B6C;"><ion-icon name="pencil-outline"></ion-icon>ลงทะเบียน</ion-title>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="login" style="text-align: center;color:#f0c55a;"></ion-back-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<!-- <ion-content class="ion-padding">
  <form>
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="text" [(ngModel)]="firstname" name="firstname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="lastname" name="lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
    <ion-button type="submit" class="ion-margin-top" expand="block" (click)="Onregister()">
      Register</ion-button>
  </form>
</ion-content> -->

<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <!-- <h1><ion-icon name="pencil-outline"></ion-icon>ลงทะเบียน</h1> -->
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="person-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">ชื่อ</ion-label>
          <ion-input type="text" [(ngModel)]="customers.cus_first_name" required></ion-input>
        </ion-item>
      </div>

      <div class="form-input">
        <ion-icon name="person-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">นามสกุล</ion-label>
          <ion-input type="text" [(ngModel)]="customers.cus_last_name" required></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">อีเมล</ion-label>
          <ion-input type="email" [(ngModel)]="customers.cus_email" required></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="call-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">เบอร์โทร</ion-label>
          <ion-input type="tel" required [(ngModel)]="customers.cus_phone" maxlength="10" pattern="^0([8|9|6])([0-9]{8}$)"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">รหัสผ่าน</ion-label>
          <ion-input type="password" [(ngModel)]="customers.cus_password" required></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-buttons ion-padding">
      <ion-button class="login-button" size="large" (click)="Onregister()">ลงทะเบียน</ion-button>
      <ion-button class="register-button" expand="block" fill="outline" [routerLink]="['/login']">เข้าสู่ระบบ
      </ion-button>
    </div>
  </div>
</ion-content>
