ion-content {
  * {
    font-family: lato;
  }

  ion-row {
    margin-top: 5px;

    ion-col {
      ion-item {
        width: 94%;
        margin: auto;
        border: 1px solid var(--ion-color-light);
        box-shadow: 1px var(--ion-color-dark);
        border-radius: 5px;
        border: 2px solid;
        border: #FFC97F;

        ion-label {
          font-size: 1.5rem;
          font-weight: bold;


          p {
            font-size: 0.7rem;
          }
        }

        ion-icon {
          font-size: 3rem;
          color: #FFC97F;
        }
      }
    }
  }

  .action-buttons {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    height: 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;

    ion-button {
      width: 100%;
      font-size: 1em;
}

      .ch1-button {
        margin-top: 0px;
        --background: #E34F33;
        width: 50px;
      }


      .change-button {
        margin-top: 10px;
        --background: #E34F33;
        width: 100%;
        font-weight: bold;
      }

  }
}
