<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;color:#FFC97F; background-color: #2B5B6C;"><b>เปลี่ยนรหัสผ่าน</b>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="edit-customers/" style="text-align: center;color:#f0c55a;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid class="main-header">
    <div align="center">
      <ion-label for="">ป้อนรหัสผ่านใหม่ของคุณ</ion-label>
      <!-- <ion-avatar>
          <img src="http://localhost/ioniccrud/backend/img/" />
        </ion-avatar> -->
    </div>
  </ion-grid>
  <ion-row>
    <ion-col>

    </ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col>
      <ion-list lines="full">
        <ion-item color="light">
          <ion-label>
            <h3>รหัสผ่านใหม่</h3>
            <p>
              <ion-text color="dark">
                <ion-input [(ngModel)]="newPassword" placeholder="ป้อนรหัสผ่านใหม่"></ion-input>
              </ion-text>
            </p>
          </ion-label>
        </ion-item>

      </ion-list>

    </ion-col>
  </ion-row>
  <div class="action-buttons ion-padding">
    <ion-button class="ch2-button" size="large" (click)="onClickSavePassword()">ยืนยัน</ion-button>
  </div>
</ion-content>
