<ion-content class="ion-no-border">
  <div class="greetings">
    <img src="/assets/dripmorning2.png" alt="">
    <h2>แอปพลิเคชัน</h2>
    <h2><span>ขายเครื่องดื่มและสะสมแต้ม</span></h2>
    <h2><span>เพื่อแลกของรางวัล</span></h2>
  </div>
  <div class="action-buttons1">
    <ion-button id="login" (click)="login()">เข้าสู่ระบบ</ion-button>
  </div>
  <div class="action-buttons2">
    <ion-button fill="outline" id="register" [routerLink]="['/registration']">ลงทะเบียน</ion-button>
  </div>
  <div class="action-buttons3">
    
    <ion-button id="see" [routerLink]="['/taps/']">เข้าชมแอพ</ion-button>
  </div>
</ion-content>
<!-- <ion-footer class="ion-no-border">
  <div class="action-buttons">
    <ion-button (click)="login()">เข้าสู่ระบบ</ion-button>
    <ion-button fill="outline" id="register" [routerLink]="['/registration']">ลงทะเบียน</ion-button>
  </div>
</ion-footer> -->
