ion-content {
  * {
    font-family: lato;
  }

  ion-row {
    margin-top: 5px;

    ion-col {
      ion-item {
        width: 90%;
        height: 5em;
        margin: auto;
        border: 1px solid var(--ion-color-light);
        box-shadow: 1px var(--ion-color-dark);
        border-radius: 5px;
        border: 2px solid;
        border: #FFC97F;
        text-align: left;

        ion-label {
          justify-content: left;
          font-size: 1.5rem;
          font-weight: bold;


          p {
            justify-content: left;
            font-size: 0.7rem;
          }
        }

        ion-icon {
          font-size: 3rem;
          color: #FFC97F;
        }


      }
    }
  }

  .action-buttons {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    height: 12em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    text-align: center;

    ion-button {
      width: 100%;
      font-size: 1em;

}
    .logout-button1 {

      margin-top: 10px;
      --background: #E34F33;
      width: 100px;
      font-weight: bold;
    }


        .logout-button2 {
      margin-top: 10px;
      --background: #E34F33;
      width: 100%;
      font-weight: bold;
    }

  }
}
